{% extends "base/base_menu.html" %}
{% block title %}{%if q%}Busqueda del Termino: {{ q }}{%else%}Terminos{%endif%} {% endblock title %}
{% block description %}Terminos  y Documentos actualmente en la Base de Datos{% endblock description %}
{% block contenido %}

<header class="title-header">
<div class="row">
  <div class="medium-8 medium-centered columns text-center">
    <h1>{{termino.nombre|upper}}</h1>
    <h4>Siglas: <span data-tooltip aria-haspopup="true" class="has-tip round" title="{{termino.nombre|upper}}">{{termino.significado|upper}}</span></h4>
  </div>
  </div>
</header>
<section class="row padding-top">
        <div class="medium-8 medium-centered columns text-center">
            
              <h2>Descripción</h2>
              <p >{{termino.descripcion}}</p>
              <h2>Subdominio</h2>
              <p ><a href="/corpuscontable?id={{termino.corpus.id}}">{{termino.corpus}}</a></p>
              <h2><span title="documentos" class="icon-book"></span>Documentos</h2>
              {% for doc in termino.documento.all  %}
              <p><a href="{{doc.archivo.url}}" target="_blank">{{doc.nombre}}</a></p>
              {% endfor %}
              <p><a class="button success round" href="/terminos"><span class="icon-undo2"></span>Regresar</a></p>
            
        </div>
</section>

<aside class="row padding-top">
    <div class="medium-8 medium-centered columns text-center">
    <form id="formulario" name="form" method="get" action="/terminos">
            <div class="small-12 columns">
              <div class="row collapse postfix-round">
                <div class="small-9 columns">
                  <input type="search" name="search" placeholder="Busqueda de Terminos"{%if q%} value='{{q}}'{%endif%}>
                </div>
                <div class="small-3 columns">
                  <button class="postfix radius">Buscar</button>
                </div>
              </div>
            </div>
    </form>
    </div>
</aside>

{% endblock contenido %}