{% extends "base/base_menu.html" %}
{% block title %}{%if q%}Busqueda del Termino: {{ q }}{%else%}Terminos{%endif%} {% endblock title %}
{% block description %}Terminos  y Documentos actualmente en la Base de Datos{% endblock description %}
{% block contenido %}
<aside class="row padding-top">
    <div class="medium-8 medium-centered columns text-center">
    <h3><a href="/terminos">Corpus Contable</a></h3>
    	{%if q%} 
        <p>Total de terminos encontrados con <kbd>{{q}}</kbd>: <em>{{nTerQ}}</em></p>
      {% else %}
        <p>Total de terminos: {{nTer}}</p>
      {%endif%}

    <form id="formulario" name="form" method="get" action="/terminos">
            <div class="small-12 columns">
              <div class="row collapse postfix-radius">
                <div class="small-9 columns">
                  <input type="search" name="search" placeholder="Busqueda de Terminos"{%if q%} value='{{q}}'{%endif%}>
                </div>
                <div class="small-3 columns">
                  <button class="postfix radius">Buscar</button>
                </div>
              </div>
            </div>
    </form>
    </div>
</aside>
{% block listas %}
  {%if terminos%}
  <section class="row padding-top">
    {% for termino in terminos %} 
        <article class="medium-6 columns text-center">
            <ul class="pricing-table">
              <a href="/terminos?id={{termino.id}}"><li class="title">{{termino.nombre|upper}}</li></a>
              <li class="bullet-item">{{termino.descripcion}}</li>
              <li class="bullet-item">Siglas: <span data-tooltip aria-haspopup="true" class="has-tip round" title="{{termino.nombre|upper}}">{{termino.significado|upper}}</span></li>
              <li class="bullet-item"> Subdominio: <span class="icon-price-tag"></span><a href="/corpuscontable?id={{termino.corpus.id}}">{{termino.corpus}}</a></li>
              <li class="bullet-item"><span title="documentos" class="icon-book"></span>
              {% for doc in termino.documento.all  %}
              <a href="{{doc.archivo.url}}" target="_blank">{{doc.nombre}}</a>
              {% endfor %}
              </li>
              <li class="bullet-item"><a href="/terminos?id={{termino.id}}" class="button round">Más Detalles</a></li>
           
            </ul>
        </article>
   {% endfor %}
  </section>

<!-- Links basicos del grupo de paginacion -->
  <!-- inicio -->
<section class="row padding-top">
  <footer class="medium-8 medium-centered columns text-center">
        <ul class="button-group round even-5">
          <li><a href="/terminos{%if q%}?search={{q}}{%endif%}" class="button secondary">INICIO</a></li>
          {%if terminos.has_previous%}
          <li><a href="/terminos?{%if q%}search={{q}}&{%endif%}pagina={{terminos.previous_page_number}}" class="button secondary"><span class="icon-undo2"></span>ANT.</a></li>
          {% else %}
          <li><a href="#" class="button secondary disabled"><span class="icon-undo2"></span>ANT.</a></li>
          {%endif%}
          <li><a href="#" class="button secondary">{{terminos.number}} de {{terminos.paginator.num_pages}}</a></li>
          {%if terminos.has_next%}
          <li><a href="/terminos?{%if q%}search={{q}}&{%endif%}pagina={{terminos.next_page_number}}" class="button secondary"><span class="icon-redo2"></span>SIG.</a></li>
          {% else %}
          <li><a href="#" class="button secondary disabled"><span class="icon-redo2"></span>SIG.</a></li>
          {%endif%}
          <li><a href="/terminos?{%if q%}search={{q}}&{%endif%}pagina={{terminos.paginator.num_pages}}" class="button secondary">FIN</a></li>
        </ul>
  </footer>
</section>
{%endif%}

    {%if q and not terminos%}
      <section class="row">
          <div class="medium-8 medium-centered columns text-center">
              <div class="panel callout radius">
                  <h4>No encontramos ningún termino parecido a <kbd>{{q}}</kbd> :(</h4>
                  <p>Intenta otra forma de escribirlo, o sus siglas</p>
                  {% if user.is_staff %}
                    
                  <p>También puedes agregarlo en el admin</p>
                  <p><a class="button round" href="/admin/terminos/termino/add/"><span class="icon-folder-plus"></span>Agregar Nuevo Termino</a></p>
                    
                  {% endif %}
              </div>
          </div>
      </section>
    {%endif%}
  {% endblock listas %}
{% endblock contenido %}