# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

*.pyc
*~
temp/

*.sqlite3
backend/terminus/media/

#settings locales
backend/terminus/terminus/local_settings.py


#Front-end stuff:
node_modules/


