@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{
    font-family: "Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;

}

h1, h2, h3, h4, h5, p{
    font-family: "Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;

}
blockquote {
    font-style: italic;
    margin-bottom: 1rem;
}
.title-header {
    background: linear-gradient(90deg, #9D50BB 10%, #6E48AA 90%);
    padding-top: 2em;
    padding-bottom: 2em;
}
.title-header h1, .title-header h4, .title-header span{
    color: rgba(255,255,255,1);
}
.pricing-table .button{
    margin-bottom: 0;
}
.mg-zero{
    margin: 0px;
}
.padding-top{
    padding-top: 2em;
}
.foonav{
    padding-top: .6em;
}
.foonav a{
    margin-right: 1em;
}
.foo p {
    margin-bottom: 0px;
}
