{% extends "base/base_menu.html" %}
{% block title %}Ayuda sobre Ontomex{% endblock title %}
{% block descripcion %}Ayuda para Crear Accesos Directos{% endblock descripcion %}
{% block contenido %}
<header class="row padding-top bg-ontomex">
    <div class="large-8 large-centered columns text-center">
        <h1>Cómo crear Accesos Directos en tu dispositivo</h1>
        <h5>Encontraras pasos para hacerlo en PC, Tablet y Movil</h5>
    </div>
</header>
<section>
    <div class="row padding-top">
        <div class="large-8 large-centered columns text-center">
            <ul class="accordion" data-accordion>
              <li class="accordion-navigation">
                <a href="#panel1a">PC's Y LAPTOPS</a>
                <div id="panel1a" class="content active">
                  Independiente del sistema Operativo Windows XP/7/8/10 o Mac o Linux, tu puedes crear tu acceso directo a Ontomex de la siguiente forma:
                  <ol class="text-left">
                      <li>Tener instalado <a href="https://www.google.com/chrome">Chrome para PC's <img width="32"src="{{ STATIC_URL }}img/ayuda/chrome-icon.png" alt="Chrome App Icon"></a></li>
                      
                      <li>Abrir http://ontomex.com</li>
                      <li>Ir a Menu de Chrome, Clic en Más Herramientas y después en Crear Acceso Directo a Aplicaciones</li>
                      <li>Listo podrás acceder desde el escritorio o desde el menu de tu sistema de aplicaciones</li>
                  </ol>
                  <ul class="small-block-grid-1 medium-block-grid-2 clearing-thumbs" data-clearing>
                      <li><a href="{{ STATIC_URL }}img/ayuda/Ontomex_CrearIConos.png"><img src="{{ STATIC_URL }}img/ayuda/Ontomex_CrearIConos_small.png"></a></li>
                      <li><a href="{{ STATIC_URL }}img/ayuda/Ontomex_CrearIConos_01.png"><img src="{{ STATIC_URL }}img/ayuda/Ontomex_CrearIConos_01_small.png"></a></li>
                      <li><a href="{{ STATIC_URL }}img/ayuda/Ontomex_CrearIConos_02.png"><img src="{{ STATIC_URL }}img/ayuda/Ontomex_CrearIConos_02_small.png"></a></li>
                      <li><a href="{{ STATIC_URL }}img/ayuda/Ontomex_CrearIConos_03.png"><img src="{{ STATIC_URL }}img/ayuda/Ontomex_CrearIConos_03_small.png"></a></li>
                    </ul>
                </div>
              </li>
              <li class="accordion-navigation">
                <a href="#panel2a">TABLETS Y SMARTHPHONES ANDROID</a>
                <div id="panel2a" class="content">
                  Debes tener una versión mayor a 4.0 de Android y no importa si es Tablet o Movil.
                <ol class=" text-left">
                      <li>Tener instalado <a href="https://play.google.com/store/apps/details?id=com.android.chrome">Chrome para Android <img width="32"src="{{ STATIC_URL }}img/ayuda/chrome-icon.png" alt="Chrome App for Android Icon"></a></li>
                      <li>Abrir http://ontomex.com</li>
                      <li>Ir a Menu de Chrome</li>
                      <li>Y debes presionar sobre Agregar a <span title="Pantalla">Pant.</span> Principal</li>
                      <li>Listo podrás acceder desde el escritorio o desde el menu de tu sistema de aplicaciones</li>
                  </ol>
                  <ul class="small-block-grid-2 medium-block-grid-3 clearing-thumbs" data-clearing>
                      <li><a href="{{ STATIC_URL }}img/ayuda/android_01.png"><img src="{{ STATIC_URL }}img/ayuda/android_01_small.png"></a></li>
                      <li><a href="{{ STATIC_URL }}img/ayuda/android_02.png"><img src="{{ STATIC_URL }}img/ayuda/android_02_small.png"></a></li>
                      <li><a href="{{ STATIC_URL }}img/ayuda/android_03.png"><img src="{{ STATIC_URL }}img/ayuda/android_03_small.png"></a></li>
                      <li><a href="{{ STATIC_URL }}img/ayuda/android_04.png"><img src="{{ STATIC_URL }}img/ayuda/android_04_small.png"></a></li>
                      <li><a href="{{ STATIC_URL }}img/ayuda/android_05.png"><img src="{{ STATIC_URL }}img/ayuda/android_05_small.png"></a></li>
                      <li><a href="{{ STATIC_URL }}img/ayuda/android_06.png"><img src="{{ STATIC_URL }}img/ayuda/android_06_small.png"></a></li>
                    </ul>
                </div>
              </li>
              <li class="accordion-navigation">
                <a href="#panel3a">TABLETS Y SMARTHPHONES IO'S</a>
                <div id="panel3a" class="content">
                  Debes tener una versión mayor a 5.0 de IO's y no importa si es Ipad ó Iphone ó Ipod Touch.
                <ol class=" text-left">
                      <li>Tener instalado Safari <img width="32" src="{{ STATIC_URL }}img/ayuda/safari-icon.png" alt="Safari App Icon"></li>
                      <li>Abrir http://ontomex.com</li>
                      <li>Ir a Menu de Compartir de Safari</li>
                      <li>Y debes presionar sobre Añadir a Pantalla de Inicio</li>
                      <li>Das aceptar  y Listo Puedes disfrutar del Acceso Directo a Ontomex</li>
                  </ol>
                  <ul class="small-block-grid-2 medium-block-grid-3 clearing-thumbs" data-clearing>
                      <li><a href="{{ STATIC_URL }}img/ayuda/ios_01.jpg"><img src="{{ STATIC_URL }}img/ayuda/ios_01_small.jpg"></a></li>
                      <li><a href="{{ STATIC_URL }}img/ayuda/ios_02.jpg"><img src="{{ STATIC_URL }}img/ayuda/ios_02_small.jpg"></a></li>
                      <li><a href="{{ STATIC_URL }}img/ayuda/ios_03.jpg"><img src="{{ STATIC_URL }}img/ayuda/ios_03_small.jpg"></a></li>
                      <li><a href="{{ STATIC_URL }}img/ayuda/ios_04.jpg"><img src="{{ STATIC_URL }}img/ayuda/ios_04_small.jpg"></a></li>
                      <li><a href="{{ STATIC_URL }}img/ayuda/ios_05.jpg"><img src="{{ STATIC_URL }}img/ayuda/ios_05_small.jpg"></a></li>
                      
                    </ul>
                </div>
              </li>
            </ul>
        </div>
        <div class="large-8 large-centered columns text-center padding-top">
            <h3>Preguntas Frecuentes</h3>
            <ul class="no-bullet padding-top">
                <li>
                    <h4>¿Para qué crear un acceso directo a Ontomex?</h4>
                    <p>Para poder acceder de una manera más fácil a la aplicación web de Ontomex</p>
                </li>
                 <li>
                    <h4>¿Por qué crearla de la forma que ustedes mencionan?</h4>
                    <p>Porque no solo es un acceso directo a la app, en Android por ejemplo elimina los controles del navegador y deja más amplia la pantalla para el uso especifico de la Aplicación Web de Ontomex; también implementamos iconos especificos para cada dispositivo por lo cual nuestro logo en su icono será tan elegante como su dispositivo y sus sistema, de otra manera solo aparece el icono de su navegador y no nuestro logo.</p>
                </li>
                <li>
                    <h4>¿Puedo utilizar este metodo para otras páginas que no sean de Ontomex?</h4>
                    <p>Así es, aunque notará que no todas las páginas o sitios web estan adaptados para agregar el mejor icono dependiendo de su sistema operativo y dispositivo, esto no es problema de su dispositivo sino del creador del sitio web</p>
                </li>
                <li>
                    <h4>¿Si no existen controles de atras y adelante del navegador como hago eso en su Aplicación web?</h4>
                    <p>Fácil cada dispositivo tiene su propio boton o manera de ir atras, en Android con el boton de Atras al lado del boton de ir a Pantalla Principal, en IO's no elimina los controles totalmente así que podras navegar normalmente. Y en la misma app tiene un sistema de navegacion en el menu principal o hasta abajo en el footer con el sitio de mapa.</p>
                </li>

            </ul>
            
        </div>
    </div>
</section>
{% endblock contenido %}