{% extends "base/base_menu.html" %}
{% block title %}Registro de Ontomex{% endblock title %}
{% block description %}Página de Registro de Ontomex{% endblock description %}
{% block contenido %}
<section class="row padding-top">
    <div class="medium-6 medium-centered columns text-center">
        <form id="formulario" name="form" method="post" action=".">{% csrf_token %}
            <h1>Registro en el Sistema </h1>
            <div class="row collapse prefix-radius padding-top">
                <div class="small-3 columns">
                  <span class="prefix">Usuario</span>
                </div>
                <div class="small-9 columns">
                  <input id="id_username" maxlength="100" name="username" type="text"  placeholder="Nombre de Usuario | Username" required>
                </div>
              </div>
              <div class="row collapse prefix-radius">
                <div class="small-3 columns">
                  <span id="id_username" class="prefix">Email</span>
                </div>
                <div class="small-9 columns">
                  <input id="id_email" name="email" type="email"  placeholder="usuario@dominio.com" required>
                </div>
              </div>
              <div class="row collapse prefix-radius">
                <div class="small-3 columns">
                  <span class="prefix">Contraseña</span>
                </div>
                <div class="small-9 columns">
                  <input type="password" id="id_password" name="password" placeholder="Contraseña" required>
                </div>
                <div class="small-12 columns">
                    {%if error%}<p class="error">{{error}}</p>{%endif%}
                </div>
              </div>
            <div class="row">
                <div class="small-6 columns">
                    <button class="round expand left">Crear Cuenta</button>
                </div>
                <div class="small-6 columns">
                    <a class="button round expand secondary right" href="/">Regresar</a>
                </div>
                <div class="small-12 columns">
                    
                    <p>Si has perdido tu contraseña contacta a un <a href="/contacto">administrador aquí</a></p>
                </div>

            </div>
        </form>
    </div>
</section>    
{% endblock contenido %}  